<employee-count [all]="getTotalEmployeesCount()"
                [male]="getMaleEmployeesCount()"
                [female]="getFemaleEmployeesCount()"
                (countRadioButtonSelectionChanged)="onEmployeeRadioButtonChange($event)">
</employee-count>
<table>
  <thead>
    <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Gender</td>
      <td>Annual Salary</td>
      <td>Date Of Birth</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let emp of employees;">
      <tr *ngIf="selectedEmployeeCountRadioButton == 'All' ||selectedEmployeeCountRadioButton == emp.gender">
        <td>{{emp.code}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.annualSalary}}</td>
        <td>{{emp.dateOfBirth}}</td>
      </tr>
    </ng-container>
    <tr *ngIf=" !employees || employees.length==0">
      <td colspan="5"> No employees to display </td>
    </tr>
  </tbody>
</table>
<br />
